node_modules/
**/node_modules/

dist/
dist-ssr/
build/
.vite/
.eslintcache
.prettiercache


.env
.env.local
*.local
.env.*

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
